<nav class="pagination" role="navigation">
    {% if now_page !=1 %}
        <a class="newer-posts"
           href="/index/{{ now_page - 1 }}">&larr;
            {{i18n|get_i18n_value("prev")}}</a> {% endif %}
    <span class="page-number">{{i18n|get_i18n_value("page_num_head")}} {{ now_page }} {{i18n|get_i18n_value("page_num_intermediate")}} {{ page_row }} {{i18n|get_i18n_value("page_num_foot")}}</span>
    {% if now_page != page_row and page_row != 1 %}
        <a class="older-posts"
           href="/index/{{ now_page + 1 }}">{{i18n|get_i18n_value("next")}} &rarr;</a> {% endif %}
</nav>
